body { 
  background-color: hsla(0, 100%, 50%, 0.3);}

h2 { 
  color: #000000;
  text-align: center;
  font-family: serif;
  font-name: Lucida Handwriting;
  font-size: 20px;
} 

.navbar a {
  float: center;
  display: block;
  color: yellow;
  tex-align: center;
  text-decordation: Arial;
}
 ul {
  list-style-type: none;
padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

