body { 
  background-color: pink;
  font-family: "Lucida Console", "Courier New", monospace;
}

h2 { 
  color: #000000;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding: 20px;
} 

h3 {
 text-align: center; 
}

li a{
  overflow: hidden;
  background-color: #F7CE5B;
}

 li a{
  float: left;
  display: block;
 font-family: "Lucida Console", "Courier New", monospace;
  color: Black;
  text-decordation: none;
   padding: 15px 50px;
}
 li a: hover{ 
   background-color: #FFFFFF;
     color: black;
}
ul {
  list-style-type: none;
}

nav{
  list-style: none;
  background-color: #F7CE5B;
  width: 100%;
   black: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0'
}
