body { 
  background-color: hsla(0, 100%, 50%, 0.3);}

h2 { 
  color: #000000;
  text-align: center;
  font-family: serif;
  font-name: Lucida Handwriting;
  padding: 20px;
} 

.topnav {
  overflow: hidden;
  background-color: #FF3CC7;
}

.topnav {
  float: left;
  display: block;
  color: #F0F600;
  tex-align: center;
  padding: 14px 16px;
  text-decordation: none;
  list-style-type: none
}
 ul {
  list-style-type: none;
padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

